{% extends 'admin_base.html.twig' %}

{% block title %}Nouvel Album{% endblock %}

{% block page_title %}Nouvel Album{% endblock %}

{% block breadcrumb %}
    <span>Administration</span> / <a href="{{ path('app_admin_album_index') }}">Albums</a> / <span>Nouveau</span>
{% endblock %}

{% block body %}
    <div class="card" style="max-width: 800px; margin: 0 auto;">
        <div class="card-header">
            <h2 class="card-title">Ajouter un album</h2>
            <a href="{{ path('app_admin_album_index') }}" class="btn btn-secondary">
                <i class="fa-solid fa-arrow-left"></i> Retour
            </a>
        </div>

        {{ include('admin_album/_form.html.twig') }}
    </div>
{% endblock %}
