{% extends 'base.html.twig' %}

{% block title %}Événements
{% endblock %}

{% block body %}

	<div class="page-container">
		<h1>
			Événements du club
		</h1>

        <div class="evenements-list">
    		{% for item in evenements %}
	    		{% set type = item.typeEvenement.libelleTypeEvenement|lower %}
		    	<div class="evenement {{ type }}">
			    	<h2>
				    	{{ item.nom }}
					    <span class="date">{{ item.dateEvenement|date('d F Y') }}</span>
    				</h2>
	    			<p>{{ item.description }}</p>
		    	</div>
    		{% endfor %}
        </div>


	</div>
{% endblock %}
