<form method="post" action="{{ path('app_admin_inscription_delete', {'id': inscription.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette entrée ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ inscription.id) }}">
    <button class="btn btn-sm btn-danger"><i class="fa-solid fa-trash"></i></button>
</form>
