{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Bienvenue sur mon premier site Symfony ! </h1>
    <p>Cette page est gérée par HomeController.</p>
    
    <div class="container mt-5">
        <div class="alert alert-primary">
            Bootstrap est bien installé !
        </div>
    </div>

    <h1>Liste des événements</h1>

    <ul>
        {% for event in evenements %}
            <li>
                <strong>{{ event.nom }}</strong> <br>
                Date : {{ event.dateEvenement ? event.dateEvenement|date('d/m/Y H:i') : 'Date non définie' }} <br>
                Type : {{ event.typeEvenement ? event.typeEvenement.nom : 'Type non défini' }} <br>
                Description : {{ event.description ?: 'Pas de description' }} <br>
            </li>
        {% else %}
            <li>Aucun événement trouvé.</li>
        {% endfor %}
    </ul>   



{% endblock %}



