{# templates/partials/footer.html.twig #}
<footer>
  <div class="footer-content">
    <p> Logo / 31 Bd Pierre de Coubertin, 49000 Angers / 02 41 47 61 23 </p>
    <p>&copy; 2025 MonSite. Tous droits réservés.</p>
    <a class="nav-item" href="{{ path('contact') }}">Nous contacter</a>
  </div>
</footer>
