{% extends 'base.html.twig' %}

{% block title %}FAQ{% endblock %}

{% block body %}

<div class="faq-wrapper">
    <h1> Questions fréquentes </h1>

    <div class="faq">
        <div class="question">
            <h2>Quels sont les horaires du club ?</h2>
            <p>Nos horaires diffèrent selon les groupes, consultez la <a href="pagededie"> page dédiée </a> pour plus d’informations.</p>
        </div>

        <div class="question">
            <h2>Proposez-vous des cours pour enfants ?</h2>
            <p>Oui, nous offrons des cours adaptés à tous les âges et niveaux, y compris pour les enfants à partir de 6 ans.</p>
        </div>
        <div class="question">
            <h2>Quelles compétitions organisez-vous ?</h2>
            <p>Nous organisons et nous participons à des compétitions régionales, inter-Régionaux N2 et championnats de France N1 et Élite.</p>
        </div>
        <div class="question">
            <h2>Comment m’inscrire  ?</h2>
            <p>Pour une nouvelle inscription, contactez le secrétariat (secretariat.ans49@gmail.com)</p>
        </div>
    </div>
</div>
{% endblock %}
