{% extends 'admin_base.html.twig' %}
{% block title %}Nouvelle Catégorie{% endblock %}
{% block page_title %}Ajouter une Catégorie{% endblock %}
{% block body %}
<div class="card">
    <div class="card-header">
        <h2 class="card-title">Informations de la catégorie</h2>
    </div>
    <div class="card-body">
        {{ include('admin_categorie_document/_form.html.twig') }}
    </div>
</div>
{% endblock %}
