<form method="post" action="{{ path('app_admin_produit_delete', {'idProduit': produit.idProduit}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produit.idProduit) }}">
    <button class="btn btn-danger"><i class="fa-solid fa-trash"></i> Supprimer</button>
</form>
