{% extends 'admin_base.html.twig' %}

{% block title %}Nouveau Document{% endblock %}
{% block page_title %}Ajouter un Document{% endblock %}

{% block body %}
    <div class="card" style="max-width: 800px; margin: 0 auto;">
        <div class="card-header">
            <h2 class="card-title">Informations du document</h2>
        </div>
        <div style="padding: 1.5rem;">
            {{ include('admin_document/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
