<form method="post" action="{{ path('app_admin_about_delete', {'id': about.idAbout}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette section ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ about.idAbout) }}">
    <button class="btn btn-danger"><i class="fa-solid fa-trash"></i> Supprimer</button>
</form>
