{% form_theme form 'bootstrap_5_layout.html.twig' %}
{{ form_start(form) }}
<div class="row"><div class="col-md-8">{{ form_widget(form) }}</div></div>
<div class="mt-4"><button class="btn btn-primary"><i class="fa-solid fa-save"></i> {{ button_label|default('Enregistrer') }}</button></div>
{{ form_end(form) }}
